
#menu-toggle{
	margin-bottom:1%;
	margin-top:1%;
	background-color:#0B9BD5;
	color:white;
}

.panel{
	margin-top:3%;
	border-color:#0B9BD5;
}

.panel-default .panel-heading{
	background-color:#0B9BD5;
	color:white;
}

.om{
	border-left:8px solid #0B9BD5;
}

.item{
	text-align: center !important;
}

.gallery li{
	list-style: none;
}

.joueurs img{
	margin-bottom:2%;
}
/*VIDEO*/
#time{
	height: 20px;
}
#btn_volume{
	padding-left: 5px;
}
#volume{
	margin-top: 5px;
}
.ui-progressbar-value{
	background-color: blue !important;
}
