
#menu-toggle{
	margin-bottom:1%;
	margin-top:1%;
	background-color:#0B9BD5;
	color:white;
}

.panel{
	margin-top:3%;
	border-color:#0B9BD5;
}

.panel-default .panel-heading{
	background-color:#0B9BD5;
	color:white;
}

.om{
	border-left:8px solid #0B9BD5;
}

.item{
	text-align: center !important;
}

.gallery li{
	list-style: none;
	margin-bottom:2%;
}

.joueurs img{
	margin-bottom:2%;
}
/*VIDEO*/
#time{
	height: 20px;
}
#btn_volume{
	padding-left: 5px;
}
#volume{
	margin-top: 5px;
}
.ui-progressbar-value{
	background-color: blue !important;
}

.logo-animation{
	width:100%;
	margin-top:-9999px; 
	height:100%;
	position:absolute;
	z-index:999;
	background-color:white;
	-webkit-animation-name: index; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: index;
    animation-duration: 4s;
}
.logo-animation img{
	width:60%;
	margin-top:50%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes index {
    from {opacity: 1;margin-top:0;}
    to {opacity: 0;margin-top:0;}
}

/* Standard syntax */
@keyframes index {
    from {opacity: 1;}
    to {opacity: 0;}
}

.video{
	margin-bottom:3% !important;
}
